.git
.gitignore
.next
node_modules
.env
.env.*
!.env.example
.data
coverage
playwright-report
test-results
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
*.pem
.idea
.vscode
dist
build
docs
tests/e2e
